<%-include("partials/header.ejs") %>






    <h1 id="about">About Rama</h1>
   <div class="container">
        <img class="profile" src="style/Lord Rama.png" alt="Ram profile" height="350">
        <p>Rama iconography shares elements of avatars of Vishnu, but has several distinctive elements. He has two
            hands,
            holds a bana (arrow) in his right hand, while he holds the dhanus (bow) in his left.[87][88] The most
            recommended icon for him is that he be shown standing in tribhanga pose (thrice bent "S" shape). He is shown
            black, blue or dark color, typically wearing reddish color clothes. Rama is often accompanied with his
            brother
            Lakshmana on his left side while his consort Sita always on his right, both of golden-yellow complexion. His
            monkey companion Hanuman stands nearby with folded arms. The group can be accompanied with Rama's brothers
            Bharata and Shatrughna too.[87]Rama's legends vary significantly by the region and across manuscripts. While
            there is a common foundation, plot, grammar and an essential core of values associated with a battle between
            good and evil, there is neither a correct version nor a single verifiable ancient one. According to Paula
            Richman, there are hundreds of versions of "the story of Rama in India, Southeast Asia and beyond".[69][70]
            The
            versions vary by region reflecting local preoccupations and histories, and these cannot be called
            "divergences
            or different tellings" from the "real" version, rather all the versions of Rama story are real and true in
            their
            own meanings to the local cultural tradition, according to scholars such as Richman and Ramanujan.




        </p>
    </div>
    <%-include("partials/footer.ejs") %>
        <style>
            .profile {
                border-radius: 50%;
                border: 2px solid #000;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


            }
        </style>
          <style>
        #about {
margin-left: 10px;
            margin-top: 20px;
            font-size: 25px;
            color: burlywood;
            font-family: 'Courier New', Courier, monospace;
            
        }
    </style>