<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <% if(locals.name1){%>
        <img src="style/Lord Rama.png" alt="Rama" height="700">

        <% } %>

            <% if(locals.name2){%>
                <img src="style/Nature.jpg" alt="Nature" height="700">
                <% } %>

                    <% if(locals.name3){%>
                        <img src="style/Animals.jpg" alt="Animals" height="700">
                        <% } %>

                            <% if(locals.name4){%>
                                <img src="style/Divine.jpg" alt="Divine" height="700">
                                <% } %>

                                    <% if(locals.name5){%>
                                        <img src="style/Shiv.jpg" alt="Shiv" height="700">
                                        <% } %>

                                            <% if(locals.name6){%>
                                                <img src="style/Lake.jpg" alt="Lake" height="700">
                                                 <% } %>

                                               <% if(locals.name7){%>
                                               <%= name7 %>
                                                <% } %>


</body>

</html>